body {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: $color_text;
}

.font-secondary {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
}
.font-tertiary {
    font-family: 'EB Garamond', serif;
    font-weight: normal;
}
