@font-face {
    font-family: 'TWOZARBII';
    font-style: normal;
    font-weight: 400;
    src:
        local('TwoZarbii'),
        url('./fonts/TWOZARBII-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Univers';
    font-style: normal;
    font-weight: 200;
    src:
        local('Univers'),
        url('./fonts/Univers-light-normal.ttf') format('truetype');
}

body {
    font-family: 'Univers', sans-serif;
    font-size: 20px;
    color: $color_text;
    font-weight: 200;

}

.font-secondary {
    font-family: 'Univers', sans-serif;
    font-weight: 200;

}
.font-tertiary {
    font-family: 'Univers', sans-serif;
    font-weight: 200;
}

#sitename {
    font-family: 'TWOZARBII', serif;
    font-size: 20px;
    color: $color_text;
}
