.sheet {
    margin: 0 18px;
    padding: 0px 40px 50px;

    box-sizing: border-box;
}

.sheet_header {
    margin: 0;
    padding: 0 0 32px;
}

.sheet-line {
    padding: 8px 0;
}

.sheet-line__number {
    flex-wrap: nowrap;
    min-width: 2em;
    padding-top: 4px;
}

.sheets-list {
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    overflow-y: scroll;
}

.sheet-bg {
    background-repeat: repeat;
    background-size: cover;
}

#mc_embed_signup {
    margin-bottom: 50px;
}

#mc_embed_signup_scroll {
    margin: auto;
    text-align: left;

    .d {
        position: absolute; left: -5000px;
    }
}

#mce-EMAIL {
    width: 220px;
}

.contact-section {
    padding-bottom: 40px;
}
.contact-section__header {
    padding-bottom: 0;
    margin-bottom: 10px;
}
