.sheet {
    width: 36%;
    margin: 0 18px;
    padding: 40px 40px 50px;

    background-color: #e5e4e2;
    box-shadow: 3px 2px 6px rgba(159, 159, 159, 0.37);

    box-sizing: border-box;
}
.sheet--contact {
    justify-content: center;
    padding: 105px 0 85px;
}

.sheet_header {
    font-size: 12px;
    margin: 0;
    padding: 0 0 32px;
}

.sheet-line {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;

    padding: 8px 0;

    font-size: 12px;
}

.sheet-line__number {
    flex-wrap: nowrap;
    min-width: 2em;
    padding-top: 4px;
}

.sheets-list {
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 36px;
}

.sheet-bg {
    background-repeat: repeat;
    background-size: cover;
}

@media (max-width: 767px) {
    .sheets-list {
        width: 100%;
        flex-direction: column;
    }
    .sheet {
        width: 90%;
        margin: 0 auto 37px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
