
.contact-section {
    padding-bottom: 40px;
}
.contact-section__header {
    font-size: 12px;

    padding-bottom: 0;
    margin-bottom: 10px;
}
.contact-section__item {
    font-size: 12px;
    font-family: 'EB Garamond', serif;
}
