.event {}

.event-img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.event-grid {
    overflow: scroll;
    article {
        display: inline;
    }

    li:before {
        content: '+';
        margin-left: -20px;
        margin-right: 10px;
    }

    li {
        padding-top: 18px;
    }
}

.event-img-grid {
    overflow: scroll;

}

.event-date {

}

.event-title {
    float: right;
}

.event-descr {
    margin-bottom: 16px;
}
