.header {
    max-width: 600px;
    margin: auto;
    padding: 20px 0 0;
}
.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline-start: 0;

    color: black;

    font-size: 17px;
}

.nav-item {
    display: inline-block;
}
.nav-item a {
    padding: 1px 3px;
}


@media (max-width: 767px) {
    .header {
        padding-bottom: 0px;
    }
    .header__nav {
        font-size: 16px;
        flex-direction: column;
    }
    .nav-item {
        text-align: center;
        padding: 3px 0px;
    }
}
