.header {
    border-bottom: 1px solid black;
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
}

.nav-item {
    line-height: 24px;
    font-size: 24px;
}

.navbar-brand {
    max-width: 300px;
    padding: 0 !important;
    margin: 10px 8px 0 32px !important
}

@media (max-width: 767px) {
    .header {
        padding-bottom: 0px;
    }
    .header__nav {
        flex-wrap: wrap;
        max-width: 324px;
        margin: 5px auto 8px auto;
    }
    .nav-item {
        padding: 6px 0;
        width: 50%;
        text-align: center;
    }
}
