.footer {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    background-color: white;
    border-top: 1px solid black;
}

.footer-content {
    font-size: 0 5px;

    a {
        margin: 0 10px;
    }
    p {
        margin: 0;
    }
}

.footer-homepage {
    margin-top: 40px;
}

.bandef {
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: marquee 10s linear infinite;
    animation: marquee 10s linear infinite; /* Vitesse de défilement */ 
    animation-play-state: running;
}

/*  Arrêt du défilement au survol */
.bandef:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes marquee {
    0%  { text-indent: 100%; }
    100% { text-indent: -300px; }
}
@keyframes marquee {
    0%  { text-indent: 100%; }
    100% { text-indent: -300px; }
}
