.footer {
    bottom: 0;
    width: 100%;
    display: block;
    position: fixed;
    border-top: 1px solid black;

    a:hover {
        text-decoration: none;
        color: inherit;
    }
}

.bandef {
    width: 100%;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: marquee 13s linear infinite;
    animation: marquee 13s linear infinite;
    animation-play-state: running;
    font-size: 24px;
}

/*  Arrêt du défilement au survol */
.bandef:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

@-webkit-keyframes marquee {
    0%  { text-indent: 100%; }
    100% { text-indent: -300px; }
}
@keyframes marquee {
    0%  { text-indent: 100%; }
    100% { text-indent: -300px; }
}
