.footer {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 60px;
    max-width: 106px;
    margin: 0 auto;
}
