.issue {
    display: flex;
    justify-content: center;

    height: 340px;
    margin: 10px 40px;
}

.issue__img {
    height: 100%;
}

.issue--full-height {
    height: calc(100vh - 200px);
}

.issue-grid {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.issue-grid__item {
    display: flex;
}
