.issue {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 238px;
    margin: 2px 2px;
    padding: 11px 16px;
}

.issue__img {
    max-width: 100%;
}

.issue-grid {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 8px;
}
.issue-grid__item {
    display: flex;
}

@media (max-width: 767px) {
    .issue {
        width: 100%;
    }
    .issue--full-height {
        width: 100%;
    }
}

@media (min-width: 767px) {
    .issue--full-height {
        height: calc(100vh - 160px);
        max-height: 1200px;
        min-height: 400px;
        width: auto;
        margin: 16px auto;

        .issue__img {
            max-height: 100%;
        }
    }
}
