.issue {
    /*display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 238px;
    margin: 2px 2px;
    padding: 11px 16px;*/
}

.issue__img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    /*width: 120px;
    background-color: rgba(0,0,255,.1);*/
}

.issue-grid {
    overflow: scroll;
    /*display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding-top: 8px;*/
/*
    ul {
        padding-inline-start: 0;
    }*/

    article {
        display: inline;
    }

    li:before {
        content: '+';
        margin-left: -20px;
        margin-right: 10px;
    }

    li {
        padding-top: 8px;
    }
}
.issue-grid__item {
    display: flex;
}

@media (max-width: 767px) {
    .issue {
        width: 100%;
    }
}
