.issue {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;

    width: 260px;
    margin: 10px 2px;
}

.issue__img {
    max-width: 100%;
}

.issue--full-height {
    height: calc(100vh - 226px);
    max-height: 1200px;
    min-height: 400px;
    width: auto;

    .issue__img {
        max-width: unset;
        max-height: 100%;
    }
}

.issue-grid {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.issue-grid__item {
    display: flex;
}

@media (max-width: 767px) {
    .issue {
        width: 80%;
    }
}
